<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ООО "Газпром газобезопасность"</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<title>Филиалы</title>
</head>
<header th:insert="blocks/header :: header"></header>
<body>
<div class="container text-center">
  <div>
    <a class="h4" th:href="@{/library/filials/new}">Добавить филиал</a>
  </div>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Наименование филиала</th>
            <th>Адрес филиала</th>
            <th>Организация</th>
            <th>Действие</th>
        </tr>
    </thead>
    <tbody>
        <th:block th:each="filial : ${listFilials}">
            <tr>

                <td>[[${filial.name}]]</td>
                <td>[[${filial.address}]]</td>
                <td>[[${filial.org.name}]]</td>
                <td>
                    <a th:href="@{'/library/filials/edit/' + ${filial.id}}">Редактировать</a>
                     &nbsp;
                    <a th:href="@{'/library/filials/delete/' + ${filial.id}}">Удалить</a>
                </td>
            </tr>
        </th:block>
    </tbody>
</table>

</div>
</body>
</html>